#bkit .bookmark.loading {
  display: block;
  text-align: center;
}

#bkit .bookmark .mdl-spinner {
  width: 100px;
  height: 100px;
  margin-top: 45px;
}

#bkit .bookmark .mdl-card__title.header {
  flex-grow: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 150, 144);
  color: #FFFFFF;
  padding: 10px;
}
#bkit .bookmark .header h1 {
  font-size: 16px;
  font-weight: bold;
}
#bkit .bookmark .header .fill {
  flex: auto 1 1;
}
#bkit .bookmark .header .menu-wrapper .mdl-menu__item {
  height: 28px;
  line-height: 28px;
}
#bkit .bookmark .header .menu-wrapper .mdl-menu__item a {
  text-decoration: none;
}
#bkit .bookmark .header .menu-wrapper button {
  line-height: inherit;
  height: inherit;
  color: #FFFFFF;
}

#bkit .bookmark .mdl-card__supporting-text {
}
#bkit .bookmark .mdl-card__supporting-text input:not(:first-child) {
  margin-top: 10px;
}
#bkit .bookmark .mdl-card__supporting-text input {
  width: 100%;
  font-size: 24px;
  font-weight: lighter;
  border: none;
  text-overflow: ellipsis; 
}
#bkit .bookmark .mdl-card__supporting-text input:hover:not(:focus) {
  background-color: rgba(0, 150, 144, 0.2);
}
#bkit .bookmark .mdl-card__supporting-text input:focus {
  border: 1px solid rgba(0, 150, 144, 0.2);
  outline: none;
}

#bkit .bookmark .categories-wrapper {
  margin-top: 10px;
  display: flex;
}
#bkit .bookmark .categories-wrapper .mdl-chip:not(:first-child) {
  margin-left: 5px;
}
#bkit .bookmark .categories-wrapper .mdl-chip {
  height: 24px;
  line-height: 24px;
}
#bkit .bookmark .categories-wrapper .mdl-chip__action {
  margin-left: 0;
}
#bkit .bookmark .categories-wrapper input.category {
  margin: 2px 0 2px 10px;
  margin-left: 10px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
}
#bkit .bookmark .categories-wrapper input.category.empty {
  margin-left: 0;
}
#bkit .bookmark .categories-wrapper input.category:focus {
  border: none;
}
#bkit .bookmark .categories-wrapper input.category:hover {
  background-color: inherit;
}
