#bkit .bookmark.loading {
  display: block;
  text-align: center;
}

#bkit .bookmark .mdl-spinner {
  width: 100px;
  height: 100px;
  margin-top: 45px;
}

#bkit .bookmark .header {
  background-color: #009690;
  color: #FFFFFF;
  padding: 10px;
}
#bkit .bookmark .header h1 {
  font-size: 16px;
  font-weight: bold;
}

#bkit .bookmark .mdl-card__title {
  display: inline-block;
  flex-grow: inherit;
}
