#bkit {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #FFF;
  z-index: 99999;
}

#bkit form .mdl-card__title,
#bkit form .mdl-card__actions {
  display: block;
  text-align: center;
}

#bkit .mdl-spinner {
  margin-top: 10px;
}
